/*-- TABLET --*/

:root{
    --grey1: #F9F9F9;
    --grey2: #333333;
    --grey3: #C4C4C4;
    --pink: #DD71C6;
    --blue: #0083D3;
    --light-blue: #73C3F4;
    --yellow: #FFD900;
    --fontFamily-text: 'Montserrat', sans-serif;
    --fontFamily-titles: 'Libre Baskerville', serif;
}

@media (max-width: 1140px) {

    body{
        font-size: 14px;
    }

    .container{
        width: 80%;
        margin: 0 auto;
    }

    #yellow-bar{
        width: 65%;
        height: 9999px;
        z-index: -1;
        position: fixed;
        right: 0;
        top: 5rem;
        background-color: var(--yellow);
        border-radius: 3rem 0 0 0;
    }

    nav ul {
      display: none;
      margin-top: 60px;
    }

    nav ul li{
        display: block;
        text-align: right;
        line-height: 50px;
        border-bottom: solid 1px var(--blue);
    }
    
    nav ul li a{
        color: var(--blue);
    }
  
    .burguer-menu {
      display: block;
      width: 25px;
      background-color: transparent;
      margin: 0;
      padding: 0;
    }

    .burguer-menu:hover {
        background-color: transparent;
      }

    .show-menu {
        display: block !important;
    }

    #first-section-content{
        position: static;
        height: auto;
    }

    #first-section-content h2 {
        width: 65%;
        float: none;
        margin: 20px 0;
        text-align: left;
        font-size: 36px;
        line-height: 54px;
    }

    #first-section-content p {
        width: 65%;
        float: none;
        margin: 0 0 2rem;
        text-align: left;
    }

    p#spots-available{
        display: block;
        margin: 0 auto;
        float: none;
        width: 100%;
        text-align: center;
    }

    #countdown {
        width: 60%;
        right: auto;
        margin: 2rem auto;
        position: static;
        padding: 2rem 1rem;
        height: 223px;
    }

    #first-section-content button {
        display: block;
        margin: 0 auto;
        float: none;
    }

    #countdown p {
        font-size: 12px;
        width: 100%;
        text-align: center;
        margin: 0;
    }


    #days, #hours, #minutes, #seconds{
        font-size: 36px;
    }

    #second-section-content article{
        width: calc(25% - 24px);
    }

    #second-section-content article::before{
        padding-bottom: 0;
        height: 215px;
    }

    #second-section-content article .article-content img{
        margin: 1rem auto;
        width: 24px;
    }

    #second-section-content article .article-content p.big-number{
        font-size: 24px;
        margin-bottom: 1rem;
    }

    #second-section-content article .article-content p{
        font-size: 16px;
        line-height: 25px;
        margin: 0 1rem;
    }
    
    #third-section .container{
        background-position: center bottom;
        background-size: 70% auto;
        padding-bottom: 600px;
    }

    #third-section .container h3{
        width: 60%;
        margin: 0 auto 32px;
        line-height: 51px;
    }

    #third-section .container p{
        width: 60%;
        margin: 0 auto 32px;
    }

    #third-section button{
        display: block;
        margin: 0 auto;
    }

    #fourth-section .container{
        padding-bottom: 5rem;
    }

    #fourth-section .container h3{
        width: 60%;
        margin: 0 auto 32px;
        line-height: 51px;
        text-align: left;
    }

    #fourth-section .container p{
        width: 60%;
        margin: 0 auto 32px;
        text-align: left;
    }

    #fourth-section div.mobile{
        height: 600px;
    }

    #fourth-section img.mobile{
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
    }

    #fourth-section img.desk{
        display: none;
    }

    #fourth-section button.mobile{
        display: block;
        margin: 0 auto;
    }

    #fourth-section button.desk{
        display: none;
    }

    #fifth-section{
        text-align: left
    }

    #fifth-section .container h3{
        width: 60%;
        margin: 0 auto 32px;
        line-height: 51px;
        text-align: left;
    }

    #fifth-section article{
        width: 60%;
        height: 363px;
        padding: 50px;
    }

    #fifth-section article h4{
        text-align: center;
        padding-bottom: 17px;
    }

    #fifth-section article.left{
        margin: 0 auto 44px;
        float: none;
    }
    
    #fifth-section article.right{
        margin: 0 auto 44px;
        float: none;
    }

    #fifth-section button {
        display: block;
        margin: 0 auto;
        float: none;
    }

    #sixth-section h3{
        width: 60%;
        margin: 0 auto 32px;
    }

    #FAQS{
        width: 60%;
        margin: 0 auto;
    }

    #sixth-section .faq .question{
        height: auto;
        line-height: 40px;
    }

    #sixth-section .faq .question p{
        margin: 0 15px 0 5px;
        padding-right: 25px;
        padding-left: 5px;
        background-size: 22px;
    }

    footer section.left, footer section.right{
        float: none;
    }

    footer section.left{
        padding-top: 2rem;
    }

    footer section.right{
        padding-top: 0;
        width: 60%;
    }
  }