
/*-- GENERAL --*/

:root{
    --grey1: #F9F9F9;
    --grey2: #333333;
    --grey3: #C4C4C4;
    --pink: #DD71C6;
    --blue: #0083D3;
    --light-blue: #73C3F4;
    --yellow: #FFD900;
    --fontFamily-text: 'Montserrat', sans-serif;
    --fontFamily-titles: 'Libre Baskerville', serif;
}

body{
    margin: 0;
    font-family: var(--fontFamily-text);
    background-color: var(--grey1);
    color: var(--grey2);
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

.pink{
    color: var(--pink);
}

#yellow-bar{
    width: 30%;
    height: 100vh;
    z-index: -1;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--yellow);
    border-radius: 3rem 0 0 0;
}

/*-- HEADER --*/

header{
    padding-top: 20px;
    height: 62px;
}

h1{
    float: left;
    margin: 0;
}

h1 img.logo{
    width: 140px;
}

nav{
    float: right;
    line-height: 62px;
}

nav ul{
    margin: 0;
}

nav ul li{
    display: inline-block;
    margin-left: 2rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--grey2);
    font-size: 14px;
}

nav ul li a:hover{
    color: var(--pink);
}


/*-- CONTENT --*/

section{
    padding: 5rem 0;
}

button{
    width: 215px;
    height: 40px;
    background-color: var(--pink);
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: white;
    line-height: 40px;
    cursor: pointer;
}

button:hover{
    background-color: var(--yellow);
}


h3{
    font-family: var(--fontFamily-titles);
    font-size: 32px;
    font-weight: 400;
    color: var(--grey2);
}

h4{
    font-family: var(--fontFamily-titles);
    font-size: 24px;
    font-weight: 400;
    color: var(--grey2);
}

/*-- FIRST SECTION --*/

#first-section-content{
    position: relative;
}

#first-section-content h2{
    font-family: var(--fontFamily-titles);
    font-weight: 400;
    font-size: 45px;
    line-height: 68px;
    width: 39%;
    float: left;
    clear: both;
    margin: 20px 0;
    color: var(--grey2);
}

#first-section-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    width: 39%;
    float: left;
    clear: both;
    margin: 0;
    margin-bottom: 16px;
}

#first-section-content button{
    float: left;
    clear: both;
}

#countdown {
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.5);
    width: 55%;
    height: 320px;
    border-radius: 3rem;
    padding: 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
}

#countdown p {
    font-size: 18px;
    width: 100%;
    text-align: center;
}

#days-container, #hours-container, #minutes-container, #seconds-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(25% - 2%);
}

.time-label {
    color: var(--blue);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
}

#days, #hours, #minutes, #seconds{
    font-weight: 500;
    font-size: 50px;
    margin-top: 1.5rem;
}

/*-- SECOND SECTION --*/

#second-section{
    background-color: var(--pink);
}

#second-section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
}

#second-section-content article{
    width: calc(25% - 40px);
    background-color: white;
    text-align: center;
    position: relative;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

#second-section-content article::before{
    content: "";
    padding-bottom: 100%;
    display: block;
  }

#second-section-content article .article-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

#second-section-content article .article-content img{
    margin: 16px auto 22px;
    width: 47px;
}

#second-section-content article .article-content p{
    font-size: 18px;
    margin: 0 auto 22px;
}

#second-section-content article .article-content p.big-number{
    font-size: 40px;
    font-weight: 500;
}

#second-section-content article .article-content p .plus-sign{
    color: var(--grey3);
}


.yellow-button{
    background-color: var(--yellow);
    margin: 0 auto;
}

.yellow-button:hover{
    background-color: var(--light-blue);
}

/*-- THIRD SECTION --*/

#third-section{
    background-color: var(--light-blue);
    color: white;
}

#third-section .container {
    background-image: url('img/main/third-section.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
}

#third-section .container h3{
    margin: 0 0 15px;
    color: white;
}

#third-section .container p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    width: 35%;
    margin: 0 0 54px;
}

/*-- FOURTH SECTION --*/

#fourth-section{
    text-align: center;
    color: var(--grey2);
    background-color: white;
    padding-bottom: 0;
}

#fourth-section h3{
    margin: 0 0 20px;
}

#fourth-section p{
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 25px;
}

#fourth-section img{
    margin-top: 20px;
}

/*-- FIFTH SECTION --*/

#fifth-section{
    text-align: center;
    background-color: var(--grey1);
}

#fifth-section h3{
    margin: 0 0 64px;
}

#fifth-section article{
    background-color: white;
    width: 447px;
    height: 391px;
    border-radius: 1rem;
    padding: 31.5px;
    box-sizing: border-box;
    margin-bottom: 88px;
}

#fifth-section article h4{
    border-bottom: solid 1px;
    margin: 0 0 40px;
    padding-bottom: 39px;
}

#fifth-section article ul{
    margin: 0;
    padding-inline-start: 1rem;
    list-style: "   •   ";
}

#fifth-section article ul li{
    text-align: left;
    line-height: 28px;
    margin-bottom: 20px;
}

#fifth-section article.left{
    margin-left: 74px;
    float: left;
}

#fifth-section article.right{
    margin-right: 74px;
    float: right;
}

#fifth-section article.left h4{
    color: var(--blue);
    border-color: var(--blue);
}

#fifth-section article.right h4{
    color: var(--pink);
    border-color: var(--pink);
}

/*-- SIXTH SECTION --*/

#sixth-section{
    background-color: white;
}

#sixth-section h3{
    margin-bottom: 64px;
}

#sixth-section .faq .question{
    background-color: var(--grey1);
    height: 64px;
    line-height: 64px;
    margin-bottom: 30px;
    border-radius: 1rem;    
}

#sixth-section .faq .question p{
    margin: 0 60px 0 20px;
    font-weight: 500;
    background-image: url('img/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
}


#sixth-section .faq .answer {
    display: none;
    padding: 20px 20px 30px;
    line-height: 28px;
    font-weight: 400;
}

#sixth-section .faq .answer p{
    margin: 0;
}

#sixth-section button {
    display: block;
    margin: 80px auto 0;
  }

/*-- FOOTER --*/

footer{
    background-color: var(--grey1);
}

footer section{
    padding-bottom: 1rem;
}

footer img.logo{
    width: 140px;
}

footer section.left{
    float: left;
    width: 40%;
}

footer section.left p{
    line-height: 26px;
    margin: 2rem 0;
}

footer section.left p img{
    width: 20px;
    margin-right: 14px;
}

footer section.left p span.black{
    font-weight: 700;
}

footer section.right{
    float: right;
    width: 37%;
}

footer section.right article.left {
    float: left;
}

footer section.right article.right {
    float: right;
}

footer section.right article h4{
    margin: 1rem 0 3rem;
}

footer section.right article ul{
    margin: 0;
    list-style: none;
    padding-inline-start: 0;
}

footer section.right article li{
    margin: 0 0 1.5rem;
}

footer section.right article li a{
    color: var(--grey2);
    text-decoration: none;
}

footer section.right article li a:hover{
    text-decoration: underline;
}

footer section#bottom{
    margin: 2rem 0 0;
    padding: 0 0 2rem;
}

footer section#bottom .social{
    float: left;
}

footer section#bottom .social a{
    margin-right: 1rem;
}

footer section#bottom .social img{
    width: 30px;
}

footer section#bottom p{
    margin: 0;
    float: right;
}